@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Metamorphous&family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

/* --- THEME COLORS --- */
:root {
    --terminal-emerald: #10b981;
    --terminal-dim: #064e3b;
    --terminal-text: #ecfdf5;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #064e3b;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #10b981;
}

@theme {
    --font-sans: "Rajdhani", sans-serif;
    --font-mono: 'JetBrains Mono', 'Fira Code', monospace;
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.animate-shimmer {
    animation: shimmer 3s infinite linear;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(52, 211, 153, 0.2);
    border-radius: 10px;
}

.ease-expo {
    transition-timing-function: cubic-bezier(0.87, 0, 0.13, 1);
}